{% extends "base.html" %} {% block content %}
<div class="container my-5">
    <form action="{{url_for('random')}}" method="POST">
        <div class="row justify-content-center">
            <h3>Click a button to generate a random character.</h3>
        </div>
        <div class="row justify-content-center my-3">
            <button class="btn btn-primary mx-5" name="type" value="npc" type="submit">Roll a random NPC</button>
            <button class="btn btn-primary mx-5" name="type" value="pc" type="submit">Roll a random PC</button>
        </div>
        {% if 'character' not in html_data %}
        <div class="row justify-content-center my-3">
            <div class="col-3">
                {% if html_data.genders %} {% set data = html_data.genders %} {% set data_str = "gender" %} {% set header = "Genders" %} {% include "options_table.html" %} {% endif %}
            </div>
            <div class="col-3">
                {% if html_data.races %} {% set data = html_data.races %} {% set data_str = "race" %} {% set header = "Races" %} {% include "options_table.html" %} {% endif %}
            </div>
            <div class="col-3">
                {% if html_data.classes %} {% set data = html_data.classes %} {% set data_str = "class" %} {% set header = "Classes" %} {% include "options_table.html" %} {% endif %}
            </div>
            <div class="col-3">
                {% if html_data.professions %} {% set data = html_data.professions %} {% set data_str = "profession" %} {% set header = "Professions" %} {% include "options_table.html" %} {% endif %}
            </div>
        </div>
        {% else %}
        <div class="row justify-content-center my-3">
            Character
        </div>
        {% endif %}
    </form>
</div>
<!-- /container -->
{% endblock %}